h1 {
    text-transform: capitalize;
}

p {
    text-transform: capitalize;
}

#background-gray {
    background-color: #D0D0C8;
}

#background-green{
    background-color: darkgreen;
    width: 80%;
    margin: 0 auto;
}

#container *{
    margin: 0 auto;
    font-family:sans-serif;
}


/*
=======================
header
=======================
*/
#header{
    width: 95%;
}

/*
logo
*/
#logo{
    background-color: white;
    width: 700px;
    
}
#logo-container{
    display: inline-block;
    width: 500px;
    
}
#logo .section{
    margin: 0 15px;
}
/*
logo-img
*/
#logo-img{
    display: inline-block;
    height: 100px;
    padding-top: 15px
}

#logo-img img{
    width: 70px;
    height: 70px;
}
/*
logo-text
*/
#logo-text {
    float: left;
    display: inline-block;
    text-align: right;
    padding-top: 30px
}

#logo h1{
    font-size: 200%;
}

#logo p{
    color: orange;
}

/*
navigation
*/
#navigation{
    display: inline-block;
}

#navigation ul li{
    float: left;
}

.clear {
    clear: both;
}