body {
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 2em;
/*    font-family: 'Indie Flower', cursive;*/
}
h1 {
    text-transform: uppercase;
    font-size: 2.5em;
}
h2 {
    font-size: 1.6em;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    font-size: 1.2em;
}
p:first-letter {
    font-size: 1em;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}

/*
===================================
header
===================================
*/

#header {
    background-color: #251C18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
#header-navigation a {
    color: white;
    padding: 0 20px;
}
#header-navigation li {
    float: left;
}
#header-navigation li:first-child a {
    color: #FFC847;
}
#logo {
    float: left;
}

/*
===================================
main container
===================================
*/

#main-container {
    background-image: url("../image/background.png");
}

/*
===================================
content
===================================
*/

#content {
    margin: 0 100px;
    padding: 1px;
}

/*
===================================
content1
===================================
*/

#content1 {
    border: 2px solid #E2D6D0;
}

/*
content1 text
*/

#content1 > * {
    width: 50%;
}
#content1-text {
    background-color: gainsboro;
    height: 450px;
    //text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content1-text .center {
    width: 80%;
}
#content1-text h1 {
    text-align: center;
    margin: 30px 0;
}

/*
content1 image
*/

#content1-image {
    height: 450px;
    background-size: cover;
    background-image: url("../image/main1.png");
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#content1-image .right-bottom {
    margin: 20px;
}

/*
#content1-image > div{
    margin-right: 40px;
    margin-top: 355px;
    text-align: center;
    display: inline-block;
    
}
*/

#content1-image a {
    text-transform: uppercase;
    background-color: #FFC847;
    border: 1px solid rosybrown;
    color: rosybrown;
    margin: 5px;
}
#content1-image p {
    font-size: 150%;
    padding-bottom: 5px;
}

/*
===================================
content2
===================================
*/

#content2 .float-left {
    width: 33.3%;
    background-color: #4C3B34;
}
#content2 .float-left:nth-child(2) {
    background-color: #251C18;
}
#content2 img {
    width: 100%;
    height: 200px;
    border-bottom: 4px dotted #FFC847;
}
#content2 h3 {
    margin: 20px;
    color: #FFC847;
}
#content2 p {
    margin: 20px;
    color: white;
}

/*
===================================
content3
===================================
*/

#content3 {
    height: 300px;
}
#content3 > .float-left {
    background-color: white;
    width: 33%;
    padding: 1px;
}

/*
content3 section1
*/

#content3-section1 h3 {
    margin: 20px;
    color: grey;
}
#content3-section1 h2 {
    margin: 20px;
}
#content3-section1 {
    border-right: 4px dotted #FFC847;
    height: 100%;
}

/*
content3 section2
*/

#content3-section2 {
    height: 100%;
}
#content3-section2 h3 {
    color: grey;
    margin: 20px;
}

/*
content3 section2 blog content1
*/

#blog-content1 > .section {
    background-color: gainsboro;
}
#blog-content1 {
    margin: 20px;
}
#blog-content1-text {
    margin: 15px;
    width: 42%;
}
#content3-section3 {
    height: 100%;
}
#blog-content1-image {
    height: 100%;
    width: 50%;
}
#blog-content1-image img {
    width: 100%;
    height: 100%;
}
#blog-content1 a {
    color: black;
}

/*
content3 section2 blog content2
*/

#content3-section3 {
    height: 100%;
}
#blog-content2 > .section {
    background-color: gainsboro;
    margin: 20px;
}
#content3-section3 h3 {
    color: white;
    margin: 20px;
}
#blog-content2-text {
    margin: 15px;
    width: 42%;
}
#blog-content2-image {
    height: 100%;
    width: 50%;
}
#blog-content2-image img {
    width: 100%;
    height: 100%;
}
#blog-content2 a {
    color: black;
}

/*
===================================
footer
===================================
*/

#footer {
    background-color: #FFC847;
    padding: 0 100px;
}
#footer-content > .float-left {
    width: 33%;
    height: 500px;
}

/*
footer content1
*/

#footer-content-1 {
    margin: 20px 0;
    border-right: 4px dotted gray;
}

#footer-content-1 h3{
    margin: 20px 0;
}

#footer-content-1 img{
    width: 80%;
    height: 100px;
}

#footer-content-1 > *{
    margin: 20px 20px 20px 0;
}

/*
footer content2
*/
#footer-content-2{
    margin: 20px 0;
    border-right: 4px dotted gray;
}

#footer-content-2 h3{
    margin: 20px;
}

#footer-content-2-container > div{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#footer-content-2 .section > div{
    //width: 50%;
    margin: 0 5px;
}
#footer-content-2-container img{
    height: 100px;
    width: 100px;
}

/*
footer content3
*/

#footer-content-3 > div{
    margin: 0 20px;
}
#footer-content-3 > div:first-child{
    border-bottom: 4px dotted gray;
}
#footer-content-3 > div >*{
    margin: 20px 0;
}
#footer-content-3 button{
    padding: 10px;
    background-color: black;
    color: white;
}
#footer-content-3 img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
/*
    footer info
*/
#footer-info{
    border-top: 4px dotted gray;
    display: flex;
    justify-content:space-around;
    color: gray;
}
#copyright{
    width: 50%;
}
#footer-navigation{
    width: 50%;
}
#footer-navigation li{
    margin: 5px 0 5px 30px;
}

#footer-navigation a{
    color: gray;
    text-transform: uppercase;
}
.float-left {
    float: left;
}
.float-right{
    float: right;
}
.clear {
    clear: both;
}
