/* line 25, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.background-black {
  min-width: 1300px;
  background-color: #000;
  border-bottom: 1px solid #FFF; }

/* line 30, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.background-wood {
  min-width: 1300px;
  background-image: url("../image/background.png"); }

/* line 34, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.background-yellow {
  min-width: 1300px;
  background-color: #FFC847; }

/* line 37, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.background-white {
  background-color: #FFF; }

/* line 40, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.container {
  width: 1200px;
  margin: 0 auto; }

/* line 44, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.clear {
  clear: both; }

/* line 48, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.color-yellow {
  color: #FFC847; }

/* line 53, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
body {
  margin: 0 auto;
  line-height: 1.8em;
  font-size: 1em; }
  /* line 58, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body a {
    text-transform: uppercase;
    text-decoration: none; }
  /* line 62, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body p::first-letter {
    text-transform: uppercase; }
  /* line 65, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body h1 {
    text-transform: uppercase;
    font-size: 3em; }
  /* line 69, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body h2 {
    text-transform: uppercase;
    font-size: 2em; }
  /* line 73, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body h3 {
    text-transform: uppercase;
    font-size: 1.75em; }
  /* line 76, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body h4 {
    text-transform: uppercase;
    font-size: 1.5em; }
  /* line 79, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  body h5 {
    text-transform: capitalize;
    font-size: 1.25em; }

/* line 87, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#navigation li {
  float: left;
  padding-left: 10px; }

/* line 90, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#navigation a {
  color: #FFF; }

/* line 93, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#navigation li:first-child a {
  color: #FFC847; }

/* line 99, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  /* line 108, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  header img {
    height: 50%; }

/* line 112, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#cover {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFF; }
  /* line 119, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #cover div {
    width: 50%;
    height: 398px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #FFF; }
    /* line 131, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #cover div img {
      height: 100%;
      width: 100%; }
    /* line 135, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #cover div p, #cover div h1 {
      margin: 20px 30px; }
  /* line 138, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #cover > div:first-child {
    background-image: url(../image/cover.jpg);
    background-size: cover; }
    /* line 143, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #cover > div:first-child > div {
      width: 150px;
      height: 200px;
      position: relative;
      right: -185px;
      bottom: -185px;
      background-color: transparent; }
      /* line 154, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
      #cover > div:first-child > div a {
        padding: 10px;
        background-color: #FFC847;
        color: #AAA; }
      /* line 160, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
      #cover > div:first-child > div p {
        margin: 0 0; }

/* line 166, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#room-info {
  display: flex;
  color: #FFF; }
  /* line 171, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #room-info div {
    width: 400px;
    background-color: #000; }
    /* line 175, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #room-info div img {
      width: 100%;
      border-bottom: 3px dotted #FFC847; }
    /* line 179, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #room-info div h3, #room-info div p {
      padding: 15px; }
  /* line 182, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #room-info div:nth-child(2) {
    background-color: #4C3B34; }

/* line 187, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#contact-info {
  display: flex; }
  /* line 190, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #contact-info > div {
    width: 400px;
    padding: 20px 15px; }
    /* line 194, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #contact-info > div h4 {
      color: #AAA; }
  /* line 197, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #contact-info > div:first-child {
    border-right: 3px dotted #FFC847; }
    /* line 201, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #contact-info > div:first-child * {
      padding-bottom: 10px; }
  /* line 205, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #contact-info > div:last-child h4 {
    color: #FFF; }

/* line 209, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.blog {
  display: flex;
  background-color: #AAA;
  border: 1px solid #FFF;
  padding-left: 15px; }
  /* line 218, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  .blog div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%; }
  /* line 223, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  .blog img {
    width: 100%;
    height: 100%; }
  /* line 226, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  .blog a {
    color: #000; }

/* line 230, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
footer {
  display: flex;
  background-color: #FFC847; }
  /* line 234, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  footer h4 {
    padding-bottom: 30px; }
  /* line 237, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  footer > div {
    width: 400px;
    padding: 20px 10px; }
  /* line 241, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  footer > div:first-child {
    padding-left: 0px; }
    /* line 245, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:first-child img {
      width: 100%;
      height: 100%; }
  /* line 249, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  footer > div:nth-child(2) {
    border-right: 3px dotted #AAA;
    border-left: 3px dotted #AAA; }
    /* line 256, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:nth-child(2) > div {
      padding-bottom: 20px; }
    /* line 259, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:nth-child(2) img {
      width: 50px;
      height: 50px; }
  /* line 263, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  footer > div:last-child {
    padding-right: 0px; }
    /* line 266, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:last-child a {
      padding: 10px;
      background-color: #000;
      color: #FFF;
      margin-bottom: 10px; }
    /* line 273, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:last-child input {
      width: 100%;
      height: 30px;
      margin-bottom: 10px; }
    /* line 280, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:last-child > div:first-child {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 3px dotted #AAA; }
    /* line 288, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    footer > div:last-child > div:last-child {
      padding-top: 20px;
      padding-bottom: 20px; }
      /* line 293, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
      footer > div:last-child > div:last-child img {
        padding-left: 5px;
        padding-right: 5px; }

/* line 299, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.section {
  width: 50px;
  height: 50px;
  padding-right: 30px; }

/* line 306, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
.post {
  display: flex;
  align-items: center; }

/* line 312, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
#copyright {
  background-color: #FFC847;
  border-top: 3px dotted #AAA;
  display: flex;
  justify-content: space-between; }
  /* line 321, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
  #copyright ul {
    display: flex; }
    /* line 324, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
    #copyright ul li {
      padding-left: 10px; }
      /* line 327, C:/Users/kang/Desktop/PageTest/template4/css/style.sass */
      #copyright ul li a {
        color: #AAA; }

/*# sourceMappingURL=style.css.map */